services:
  postgres:
    image: postgres:latest
    container_name: task-tracker-postgres
    env_file: /.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: